body {
    background-color: #eaeaea;
}

.main-wrapper {
    height: 600px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 800px;
    padding: 20px 5px;
}

canvas {
    max-width: 100%;
    max-height: 100%;
}


/* CSS'e kopyalama başlangıç noktası */

.position-div {
    background-color: white;
    min-height: 360px;
    margin: 0 auto;
    padding: 15px;
    width: 615px;
}

.left-side-div {
    float: left;
    width: 160px;
}

.right-side-div {
    float: right;
    margin-right: 20px;
    width: 410px;
}

.mid-right-side {
    height: 75px;
    margin: 15px 0;
    width: inherit;
}

.bottom-right-side {
    height: 200px;
    margin: 15px 0;
    width: inherit;
}

.mid-right-side div {
    display: inline;
    height: inherit;
    line-height: 75px;
}

#text {
    height: 65px;
    overflow-y: scroll;
    resize: none;
    width: inherit;
}

#text-div {
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    text-align: center;
}

#btnSave {
    display: block;
    margin: 5px auto;
}

.background-picker span {
    display: block;
    margin: 10px 5px;
}

.font-size-picker {
    display: inline-block;
    margin: 10px 5px;
    width: 240px;
}

.font-color-picker {
    margin: 10px 5px;
}

.font-color-picker input {
    width: 40px;
    text-align: right;
}

#imager-div {
    background-color: white;
    border: 1px solid;
    height: 125px;
    margin: 5px auto;
    width: 125px;
    max-width: 125px;
    max-height: 125px;
    overflow: hidden;
    overflow-wrap: break-word;
}

#text-div {

}

.example-product,.final-product {
    float: left;
    margin: 5px 15px;
}

#process-div {
    width: 340px;
    margin: 5px auto;
}
